<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{eval $user=$this->user; $setting=$this->setting;}
<meta http-equiv="Content-Type" content="text/html; charset={TIPASK_CHARSET}" />
<script type="text/javascript">g_site_url='{SITE_URL}';g_prefix='{$setting['seo_prefix']}';g_suffix='{$setting['seo_suffix']}';</script>
<link href="{SITE_URL}css/admin/admincp.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{SITE_URL}js/jquery-ui/jquery-ui.css" />
<script src="{SITE_URL}js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="{SITE_URL}js/jquery-ui/jquery-ui.js"></script>
<script src="{SITE_URL}js/admin.js" type="text/javascript"></script>
</head>
<body>
<table width="100%" border="0" cellpadding="2" cellspacing="6" style="_margin-left:-10px; ">
<tr>
  <td><table width="100%" border="0" cellpadding="2" cellspacing="6">
    <tr>
      <td>