<!--{template header}-->
<div class="wrapper mt10 clearfix">
    <!--{template space_menu}-->
    <div class="user-content">
        <div class="my-answerbox">
            <div class="title">{$navtitle}</div>
            <div id="qa-tabcard">
                <ul>
                    <li<!--{if $status=='all'}--> class="on"<!--{/if}-->><!--{if $status=='all'}-->全部回答<!--{else}--><a href="{url user/space_answer/$member['uid']}">全部回答</a><!--{/if}--></li>
                    <li<!--{if $status==2}--> class="on"<!--{/if}-->><!--{if $status==2}-->被采纳的回答<!--{else}--><a href="{url user/space_answer/$member['uid']/2}">被采纳的回答</a><!--{/if}--></li>
                </ul>
            </div>
            <div class="bd">
                <div class="cls-qa-table">
                    <table>
                        <tbody>
                            <tr><th class="s0">标题</th><th class="s1">已采纳</th><th class="s2">时间</th></tr>
                            <!--{loop $answerlist $answer}-->
                            <tr>
                                <td class="title">
                                    <div class="tit-full">
                                        <div class="wrap">
                                            <a target="_blank" title="{$answer['title']}" href="{url question/view/$answer['qid']}">{eval echo cutstr($answer['title'],60)}</a>
                                        </div>
                                </td>
                                <td>{if $answer['adopttime']>0}<font color="green">√</font>{else}否{/if}</td>
                                <td>{$answer['time']}</td>
                            </tr>                   
                            <!--{/loop}-->
                        </tbody>
                    </table>
                </div>
                <div class="pages">{$departstr}</div>
            </div>
        </div>
    </div>
</div>
<!--{template footer}-->